:root {
    --color-grey-900: #141414;
    --color-grey-800: #1f1f1f;
    --color-grey-700: #333333;
    --color-green: #C4F82A;
    --space-500: 40px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf")
        format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;

  font-style: normal;
}

.font-1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

.font-2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
}

.font-2-bold {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

body {
    display: flex;
    background: var(--color-grey-900);
    justify-content: center;  
    align-items: center;      
    min-height: 100dvh; 
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-500);
    background-color: var(--color-grey-800);
    gap: var(--space-50);
    width: 320px;   
    border-radius: 10px;
}
.profile-img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 40px;
}
.profile-name {
    color: white;
}
.profile-location {
    color: var(--color-green);
}
.profile-description {
    color: white;
    margin-top: var(--space-200);
    margin-bottom: var(--space-150);
}
.btn-link {
    width: 100%;
    color: white;
    background-color: var(--color-grey-700);
    border: none;
    border-radius: 10px;
    padding: var(--space-150);
    margin-top: var(--space-150);
    transition: background-color 0.5s ease;
}

.btn-link:hover {
 background-color: var(--color-green);
 color: var(--color-grey-900);
 cursor: pointer;
}

main a {
 width: 100%;
}